---
// import Layout from "@/layouts/Layout.astro";
import Layout from "@/layouts/layout.astro";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Services from "@/components/Services.astro";
import Nails from "@/components/Nails.astro";
import Features from "@/components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="ValMont Extensions | Hair & Nails">
  <Header />
  <main>
    <Hero />
    <Services />
    <Nails />
    <Features />
    <Testimonials />
  </main>
  <Footer />
</Layout>
